.hero {
  display: grid;
  background: $brand-red;
  color: $white;
  height: calc(100vh - 200px);

  @include devices(md) {
    height: calc(474px);
  }

  @include devices(md) {
    height: calc(100vh - 550px);
  }

  @include devices(lg) {
    height: 520px;
  }

  &-image {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
  }

  &-container {
    align-items: flex-end;
    justify-content: center;
    display: flex;
    position: relative;
    grid-area: 1/1;
    padding-bottom: 4rem;
  }
}
