.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.block {
  background-image: url(../images/pattern.png);
  background-position: center;
  background-color: $brand-black;
}

.main-block {
  composes: block;
  padding-top: 72px;
  padding-bottom: 172px;
}

.secondary-block {
  composes: block;
  text-align: center;
  padding-top: 124px;
  padding-bottom: 136px;
  font-family: 'Inter';
  color: $white;

  p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 32px;
  }

  h2 {
    font-weight: 900;
    font-size: 27px;
    line-height: 33px;
    margin: 0;
  }
}

.title {
  color: $brand-red;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  margin: 0;
}

.can {
  width: 100%;
}

.amber-block {
  background-image: url('../images/amber-pattern.png');
  background-repeat: repeat no-repeat;
  background-size: contain;
  background-position: 0 -160px;
  background-color: $brand-red;
  color: $white;
  padding-bottom: 155px;
}

.amber-can {
  composes: can;
  margin-top: -118px;
  margin-bottom: 10px;
}

.porter-can {
  composes: can;
  margin-top: -108px;
  margin-bottom: 40px;
}

.seltzer-can {
  composes: can;
  margin-top: -100px;
  margin-bottom: 20px;
}

.porter-block {
  background-image: url('../images/porter-pattern.png');
  background-repeat: repeat no-repeat;
  background-size: contain;
  background-position: 0 -80px;
  background-color: $brand-green;
  color: $white;
  padding-bottom: 8rem;
}

.seltzer-block {
  background-image: url('../images/seltzer-pattern.png');
  background-repeat: repeat no-repeat;
  background-size: contain;
  background-position: 0 -30px;
  background-color: $brand-pink;
  color: $white;
  padding-bottom: 8rem;
}

.beer-title {
  font-family: 'Anton';
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  margin: 0;
  color: $white;
  text-transform: uppercase;
}

.beer-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  margin-top: 0;
  margin-bottom: 24px;
}

.hop-icon {
  margin-bottom: 34px;
}
