$brand-black: #0d0f16;
$brand-gray: #222222;
$brand-red: #dd2833;
$brand-green: #008b39;
$brand-pink: #e15485;
$white: #fafafa;

@mixin devices($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
}
