*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', 'Helvetica', Sans-Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', 'Helvetica', Sans-Serif;
}
