.header {
  background-color: $brand-black;
  color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.logo {
  display: block;
}
