.container {
  background-color: $brand-black;
}

.content {
  padding-top: 160px;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  margin-bottom: 80px;
}

.hashtag {
  margin: 0;
  color: $white;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: 'Inter';
}

.legal {
  background-color: $brand-gray;
  padding: 10px 44px;
  color: $white;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  font-family: 'Inter';
  text-align: center;

  @include devices(md) {
    font-size: 16px;
  }
}

.rights {
  padding: 16px 44px;
  color: $white;
  font-size: 14px;
  line-height: 15px;
  font-family: 'Inter';
  text-align: center;

  @include devices(md) {
    font-size: 16px;
  }
}

.branding {
  position: relative;
  display: grid;
  height: 480px;
}

.stamp {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
}

.icons {
  display: flex;
  gap: 56px;

  * {
    display: block;
  }
}

.image {
  width: 100%;
}
